
/* ==========================================================================
 * Fonts
 * ========================================================================== */

@font-face {
    font-family: 'Quicksand';
    font-weight: 100;
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}



/* ==========================================================================
 * Elements
 * ========================================================================== */

html {
  min-height: 100%;
  position: relative;
}

body {
  color: #ffffff;
  font-family: 'Quicksand', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 4.8em; /* Margin bottom by footer height */
  max-height: 100%;
  width: 100%;
}

h1 {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: 1.25em;
  text-align: center;
  text-transform: lowercase;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  border-bottom: 0.09em dotted #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}

.container {
  margin: 1em;
  -webkit-transition: all 0.15s;
     -moz-transition: all 0.15s;
      -ms-transition: all 0.15s;
       -o-transition: all 0.15s;
          transition: all 0.15s;
}

.wrapper {
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
}

.col-2 {
  float: left;
  width: 16.666666%;
}

.col-4 {
  float: left;
  width: 33.333333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-8 {
  float: left;
  width: 66.66666%;
}

.footer {
  bottom: 0;
  height: 4.8em; /* Set the fixed height of the footer here */
  position: absolute;
  width: 100%;
}



/* ==========================================================================
 * Overlays
 * ========================================================================== */

/* Overlay style */
.overlay {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Overlay closing cross */
.overlay .overlay-close {
  background: url(../images/cross.png) no-repeat center center;
  background-size: 1.5em 1.5em;
  border: none;
  color: transparent;
  display: block;
  height: 1.5em;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 1.5em;
  position: absolute;
  right: 0;
  text-indent: 200%;
  top: 0;
  width: 1.5em;
  z-index: 100; 
}

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
     -moz-transition: opacity 0.2s, visibility 0s 0.2s;
      -ms-transition: opacity 0.2s, visibility 0s 0.2s;
       -o-transition: opacity 0.2s, visibility 0s 0.2s;
          transition: opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 0.9;  
  -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
       -o-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.overlay-scale .overlay-content {
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
     -moz-transition:    -moz-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
      -ms-transition:     -ms-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
       -o-transition:      -o-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
          transition:         transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open .overlay-content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);  
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
     -moz-transition:    -moz-transform 0.4s, opacity 0.4s;
      -ms-transition:     -ms-transform 0.4s, opacity 0.4s;
       -o-transition:      -o-transform 0.4s, opacity 0.4s;
          transition:         transform 0.4s, opacity 0.4s;
}



/* ==========================================================================
 * Positioning
 * ========================================================================== */

.centered {
  text-align: center;
}

.pull-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.vertical-center {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}



/* ==========================================================================
 * Buttons
 * ========================================================================== */

.btn {
  background: none;
  border-radius: 3em;
  border: 0.15em solid #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  letter-spacing: 0.09em;
  margin: 1em 0;
  outline: none;
  overflow: hidden;
  padding: 0.65em 1em 0.75em;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-transform: lowercase;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

/*.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}*/

/*.btn:active,*/
.btn.selected {
  /*background-color: rgba(255, 255, 255, 0.1);*/
  background-color: rgba(255, 255, 255, 1);
}

.btn.idle {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
}

.logo {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 3em;
  border: 0.1em solid rgba(255, 255, 255, 0.2);
  opacity: 0.9;
  width: 2.5em;
  /*padding: 0.2em;*/
}



/* ==========================================================================
 * Colors
 * ========================================================================== */

.turquoise {
  background: #1abc9c;
}
/*.turquoise .btn:active,*/
.turquoise .btn.selected {
  color: #1abc9c;
}

.green-sea {
  background: #16a085;
}
/*.green-sea .btn:active,*/
.green-sea .btn.selected {
  color: #16a085;
}

.emerald {
  background: #2ecc71;
}
/*.emerald .btn:active,*/
.emerald .btn.selected {
  color: #2ecc71;
}

.nephritis {
  background: #27ae60;
}
/*.nephritis.btn:active,*/
.nephritis .btn.selected {
  color: #27ae60;
}

.peter-river {
  background: #3498db;
}
/*.peter-river .btn:active,*/
.peter-river .btn.selected {
  color: #3498db;
}

.belize-hole {
  background: #2980b9;
}
/*.belize-hole .btn:active,*/
.belize-hole .btn.selected {
  color: #2980b9;
}

.amethyst {
  background: #9b59b6;
}
/*.amethyst .btn:active,*/
.amethyst .btn.selected {
  color: #9b59b6;
}

.wisteria {
  background: #8e44ad;
}
/*.wisteria .btn:active,*/
.wisteria .btn.selected {
  color: #8e44ad;
}

.wet-asphalt {
  background: #34495e;
}
/*.wet-asphalt .btn:active,*/
.wet-asphalt .btn.selected {
  color: #34495e;
}

.midnight-blue {
  background: #2c3e50;
}
/*.midnight-blue .btn:active,*/
.midnight-blue .btn.selected {
  color: #2c3e50;
}

.sun-flower {
  background: #f1c40f;
}
/*.sun-flower .btn:active,*/
.sun-flower .btn.selected {
  color: #f1c40f;
}

.orange {
  background: #f39c12;
}
/*.orange .btn:active,*/
.orange .btn.selected {
  color: #f39c12;
}

.carrot {
  background: #e67e22;
}
/*.carrot .btn:active,*/
.carrot .btn.selected {
  color: #e67e22;
}

.pumpkin {
  background: #d35400;
}
/*.pumpkin .btn:active,*/
.pumpkin .btn.selected {
  color: #d35400;
}

.alizarin {
  background: #e74c3c;
}
/*.alizarin .btn:active,*/
.alizarin .btn.selected {
  color: #e74c3c;
}

.pomegranate {
  background: #c0392b;
}
/*.pomegranate .btn:active,*/
.pomegranate .btn.selected {
  color: #c0392b;
}

.clouds {
  background: #ecf0f1;
  color: #bdc3c7;
}

.silver {
  background: #bdc3c7;
}
/*.silver .btn:active,*/
.silver .btn.selected {
  color: #bdc3c7;
}

.concrete {
  background: #95a5a6;
}
/*.concrete .btn:active,*/
.concrete .btn.selected {
  color: #95a5a6;
}

.asbestos {
  background: #7f8c8d;
}
/*.asbestos .btn:active,*/
.asbestos .btn.selected {
  color: #7f8c8d;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  body {
    font-size: 2em;
  }

  .btn {
    padding: 0.9em 1em 1.1em;
  }
}

@media only screen and (min-width: 50em) {
  body {
    font-size: 4em;
  }

  .btn {
    padding: 0.45em 0.5em 0.55em
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
